#form {
    background-color: #1A1A1A;
}

#log, #demo {
    color: white;
}

#log {
    padding-top:20px;
}

 #lgname, #loginpass {
    line-height: 45px;
    display: block;
    color: #01fff0;
 }

 input[type="submit"]{
    border: 1px solid #fff;
    padding: 5px 15px;
    color: #000;
    margin-top: 15px;
    background-color: #01fff0
 }
       
 @media screen and (min-width: 768px) {
    #lgname,
    #loginpass {
       display: unset;
    }

    input[type="submit"] {
        margin-right: -78px;
    }
    
  
  } 

  