/*mobile first design*/

#postgig{
    color:white;
}

#loc {
    display: grid;
    width: calc(112%);
    margin-top:10px;
}
.post-a-gig .location {
    color: white;
}

textarea#description, 
textarea#requirements,
select.input {
    padding:10px;
    border:0;
    box-shadow: 0 0 15px 4px rgb(1,255,240);
  }

.post-a-gig textarea#requirements, 
.post-a-gig textarea#description {
    width: calc(80%);
    margin-bottom: 20px;
    margin-top: 10px;
}

.post-a-gig form {
    overflow: hidden;
    margin: 0 auto;
}

.post-a-gig .label {
    width: 150px;
    color: white;
}

.post-a-gig .input {
    width: calc(80%);
    margin-bottom: 20px;
    margin-top: 10px;
}

.post-a-gig .submit {
    cursor: pointer;
}

input[type="radio" i] {
    margin-left: 10px;
}

label#guild {
    font-size: 14px;
    margin-left: 27px;
}
select#pay {
    width: 91%;
}
button#cancel {
    border: 1px solid #fff;
    padding: 5px 8px;
    color: #000;
    margin-top: 15px;
    font-size: smaller;
}


@media screen and (min-width: 768px) {
    .post-a-gig form {
        width: 600px;
    }
    .post-a-gig .input {
        float: left;
        width: calc(100% - 200px);
        margin-bottom: 20px;
    }
    .post-a-gig .label {
        float: left;
        width: 150px;
        padding-right: 24px;
        color: white;
        margin-bottom: 20px;
        text-align: right;
    }
    .post-a-gig textarea#requirements, 
    .post-a-gig textarea#description {
        float: left;
        width: calc(100% - 200px);
        margin-bottom: 20px;
    }
    input[type="radio" i] {
        margin-left: 10px;
        margin-right: 40px;
    }
    #loc{
        width: calc(95% - 49px);
    }
    .post-a-gig .location {
        float: left;
        width: 150px;
        padding-right: 24px;
        color: white;
        margin-bottom: 20px;
        text-align: right;
    }
    select#pay {
        width: calc(103% - 200px);
    }
    button#cancel {
        margin-left: 72px;
    }


  } 
 