/* section-a */
#section-a {
  background: #fff ; 
  /* color: #333 ; */
  padding-bottom: 2em;
  /* padding-top:100px; */
  padding-bottom: 0;
  /* color:#e2e7a9 */
  color:#412b36;

}
#misha {
  color: #86754d;
}
/* 
.bg-image {
  position: relative;
  background: #333;
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  width: 100%;
  height: auto;
  z-index: -1;
  opacity: 0.4;
} */

#section-a .content-wrap {
  padding: 0 1.5em;
}

/* section-b */
#section-b ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 1em;
}
/* 
section#section-b {
  padding-right: 1em;
  padding-left: 1em;
} */

#section-b li{
  margin-bottom: 1em;
  background: #fcfbfa ;
  background: #ebe7da;
  background: #86754d;
  /* color: #dff5cd; */
  color:#412b36;
  color:#fff;
}

.card-content {
  padding: 1.5em;
}

/* section-c */
#section-c {
  /* background: # ; */
  /* color: #68b87e; */
  color:#412b36;

  padding: 2em;
}

/* section-d */
#section-d box {
  /* color: #fedada; */
  color:#fff;

  padding: 2em;
}

#section-d .box:first-child {
  background: #86754d;
  /* color: #fedada; */
  color:#412b36;
  color: #fff;

}



/************************SLIDESHOW************************************/

/*====== WIDTH ======*/
.screenW {
  width: 100vw;
}
.fullW {
  width: 100%;
}
/*====== HEIGHT ======*/
.screenH {
  height: 100vh;
}
.fullH {
  height: 100%;
}
.height70 {
  height: 70px;
}
/*====== BG COLOR ======*/
.dGray {
  background-color: #333;
}
.white {
  background-color: #fff;
}
.white50 {
  background-color: #ffffff80;
}
.black50 {
  background-color: #00000080;
}
/*====== FONT ======*/
.fSize2 {
  font-size: 2rem;
}
/*====== IMAGE ======*/
.imgCover {
  object-fit: cover;
}
/*====== OVERFLOW ======*/
.overflowH {
  overflow: hidden;
}
/*====== TRANSITIONS ======*/
.transition1l {
  transition: left 1s ease-in-out;
}
/*====== POSITION ======*/
.abs {
  position: absolute;
}
.rel {
  position: relative;
}
.left0 {
  left: 0px;
}
.left100vw {
  left: 100vw;
}
.leftM100vw {
  left: -100vw;
}
.bot0 {
  bottom: 0;
}
/*====== FLEX ======*/
.df {
  display: flex;
}
.row {
  display: flex;
  flex-direction: row;
}
.col {
  display: flex;
  flex-direction: column;
}
.fCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex1 {
  flex: 1;
}
.flex8 {
  flex: 8;
} 