h1 {
    font-family: 'Orbitron', sans-serif;
    color:#01fff0;
    font-size: 1rem;
}
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');


.create-emp-profile form {
    /* overflow: hidden; */
    margin: 0 auto;
}

.create-emp-profile .label {
    display: block;
    width: 150px;
    color: white;
    margin-bottom: 20px;
    text-align: right;
}

.create-emp-profile .input {
    width: calc(75%);
    margin-bottom: 20px;
    
}
 
.create-emp-profile .submit {
    /* float: right;
    width: calc(100% - 200px); */
    cursor: pointer;
}

.create-emp-profile .input#phone {
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px #01fff0;
}

.create-emp-profile .input#fax {
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px #01fff0;
}

.create-emp-profile .input#website {
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px #01fff0;
}
.create-emp-profile .input#email {
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px #01fff0;
}

textarea#about_us {
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px #01fff0;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }
    span.algolia-places {
        margin-left: 160px;
        width: 77%;
        margin-bottom: 10px;
    }
    .create-emp-profile .label {
        float: left;
        width: 150px;
        padding-right: 24px;
        color: white;
        margin-bottom: -7px;
        text-align: right;
    }

    .create-emp-profile form {
        width: 600px;
    }
    
    .create-emp-profile .input {
        float: left;
        width: calc(100% - 200px);
        margin-bottom: 30px;
    }
    input#updatepro {
        margin: 0 auto;
    }

  } 
  
  @media screen and (min-width: 1024px){
    span.algolia-places {
        margin-left: 160px;
        width: 79;
    }
    .create-emp-profile form {
        width: 700px;
    }
  }