h1 {
    font-family: 'Orbitron', sans-serif;
    color:#01fff0;
}
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');


.create-emp-profile form {
    overflow: hidden;
    width: 600px;
    margin: 0 auto;
}

.create-emp-profile .label {
    float: left;
    width: 150px;
    padding-right: 24px;
    color: white;
    margin-bottom: 20px;
    text-align: right;
}

.create-emp-profile .input {
    float: left;
    width: calc(100% - 200px);
    margin-bottom: 20px;
}
 
.create-emp-profile .submit {
    /* float: right;
    width: calc(100% - 200px); */
    cursor: pointer;
}

.create-emp-profile .input#phone {
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px #01fff0;
}

.create-emp-profile .input#fax {
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px #01fff0;
}

.create-emp-profile .input#website {
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px #01fff0;
}
.create-emp-profile .input#email {
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px #01fff0;
}
.create-emp-profile .textarea#about_us {
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px #01fff0;
}