#header {
  background: #ebe7da;
  background: #ffffff;
  color: #212b36;
  /* color:#86754d */
}

#header #logo {
  position: relative;
  width: 15%;
  height: auto;
  padding: 1em 2em;
}



 @media screen and (min-width: 700px) {
  #header #logo {
    text-align: center;
    width: 15%;
  }
} 