/* .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;

} */
/* 
.fa {
    padding: 7px;
    font-size: 16px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 5px;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.81);
    background: #fff;
    color: rgba(0, 0, 0, 0.906);
} */
/*
.fa {
    padding: 10px;
    font-size: 26px;
    width: 30px;
    border: 4px solid;
} */

/* .fa {
    padding: 12px;
    font-size: 32px;
    width: 40px;
    border: 5px solid;
} */
/* #ho1, #ho2, #ho3 {
    padding: 7px;
    font-size: 16px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 5px;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.81);
    background: #fff;
    color: rgba(0, 0, 0, 0.906);
} */

.contact {
    color: #fff;
    font-family: Futura,sans-serif;
    font-size:22px;
}

#location {
    font-size: 100%;
    line-height: 1.6;
    margin: 0.6em 0;
    font-weight: 400;
}