
body {
  margin: 0;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
  /* background: #2f3337 ; */
}

img {
  display: block;
  width: 100%;
  height: auto;
}
h1, h2, h3 {
  margin:0;
  padding: 1em 0;
}
p {
  margin: 0;
  padding: 1em 0;
}

#main-footer {
  padding: 2em;
  background: rgb(14, 13, 13);
  color:#fffb29;
  text-align: center;
}


/*Media Queries*/
@media screen and (min-width: 700px) {
  .grid {
    display:grid;
    /* grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr; */
  }

  #section-a .content-text{
    padding: 0 1em;
  }
  .content-wrap, #section-b ul {
    grid-column: 2/4;
  }

  .box, #main-footer article {
    grid-column: span 2;
  }

  #section-b ul {
    display:flex;
    justify-content: space-around;

  }
  section#section-b {
   padding:0;
}
  #section-b li {
    width: 31%;
  }


}