
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&display=swap');

html {
  overflow-x:hidden;
  
}

body {
  margin: 0;
  font-family: 'Libre Franklin', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #1c1f23 */
  ;
  height: 100vh;
  overflow-x:hidden
}

code {
  font-family: 'Libre Franklin', sans-serif;
}

